body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.container {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.signup-box {
    text-align: center;
    padding: 30px;
}

h2 {
    color: #435B66;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    outline: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #435B66;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #A084E8;
}

.shapes-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    overflow: hidden;
}

.bird {
    width: 50px;
    height: 50px;
    background-color: pink;
    position: absolute;
    border-radius: 50%;
}

.bird1 {
    top: 20%;
    left: 20%;
    animation: moveBird 4s infinite alternate;
}

.bird2 {
    top: 50%;
    left: 80%;
    animation: moveBird 6s infinite alternate;
}

.bird3 {
    top: 80%;
    left: 50%;
    animation: moveBird 5s infinite alternate;
}

.ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    opacity: 0.7;
    pointer-events: none;
}

.ball1 {
    top: 40%;
    left: 40%;
    background-color: #b19cd9;
    animation: moveBall 7s infinite alternate;
}

.ball2 {
    top: 70%;
    left: 60%;
    background-color: #b6e6bd;
    animation: moveBall 5s infinite alternate;
}

.ball3 {
    top: 50%;
    left: 20%;
    background-color: #f0b3ff;
    animation: moveBall 6s infinite alternate;
}



.ball4 {
    top: 30%;
    left: 80%;
    background-color: #f2b5d4;
    animation: moveBall 6s infinite alternate;
}

.ball5 {
    top: 90%;
    left: 40%;
    background-color: #d6a2c4;
    animation: moveBall 7s infinite alternate;
}


.login-account {
    margin-top: 10px;
    color: #435B66;
    text-decoration: none;
    cursor: pointer;
}

.login-account a {
    color: #435B66;
    text-decoration: none;
}

.login-account a:hover {
    text-decoration: underline;
}
@keyframes moveBird {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50px);
    }
}

@keyframes moveBall {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-30px);
    }
}