body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game-container {
    width: 100%;
    height: 100vh;
    background-color: lavender;
}

#message-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

#message {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    z-index:2;
}